{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and Contact</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> Contact </label><input type="number" name="contact" value="{{ .Contact }}"  /><br />
      <label> Address </label><input type="text" name="address" value="{{ .Address }}"  /><br />
      <label> Dob </label><input type="date" name="dob" value="{{ .Dob }}"  /><br />
      <label> Gender </label><input type="text" name="gender" value="{{ .Gender }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}