{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>login page golang using curd operation</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>insert the values in mysql using curd method</h1>   
{{ end }}